{% extends 'admin/model/details.html' %}

{% block body %}
    <style>
        pre {
            background-color: transparent;
            border: none;
        }

        .stacktrace {
            max-height: 100px;
            overflow-y: scroll;
            cursor: pointer;
        }

        .stacktrace.expanded {
            max-height: none;
        }
    </style>
    <h3>Crash Report Details</h3>
    <table id="minidump-details-table" class="table table-hover">
        <tbody>
            <tr>
                <td>Product:</td>
                <td id="minidump-product"><b>{{ minidump.product }}</b></td>
            </tr>
            <tr>
                <td>Version:</td>
                <td id="minidump-version"><b>{{ minidump.version }}</b></td>
            </tr>
            <tr>
                <td>Platform:</td>
                <td id="minidump-platform"><b>{{ minidump.platform }}</b></td>
            </tr>
            <tr class="info">
                <td>Reason:</td>
                <td id="minidump-reason"><b>{{ minidump.crash_reason }}</b></td>
            </tr>
            <tr>
                <td>Location:</td>
                <td id="minidump-location"><b>{{ minidump.crash_location }}</b></td>
            </tr>
            <tr>
                <td>Date Created:</td>
                <td id="minidump-last_seen"><b>{{ minidump.date_created.strftime('%d-%m-%Y %H:%M') }}</b></td>
            </tr>
            {% if minidump.sensitive %}
            <tr class="info">
                <td>Exploitability:</td>
                <td id="minidump-last_seen"><b>{{ minidump.sensitive.exploitability }}</b></td>
            </tr>
            {% endif %}
            <tr>
                <td>Actions:</td>
                <td>
                    <a href="{{ minidump.download_link }}" class="btn btn-default">Download Minidump</a>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>System info</h3>
    {% if minidump.stacktrace_json.system_info %}
        <table id="system-info" class="table table-hover">
            <tbody>
            {% for key, value in minidump.stacktrace_json.system_info.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td><b>{{ value }}</b></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning">No System info</div>
    {% endif %}

    <h3>StackTrace</h3>
        {% if minidump.stacktrace_json.crashing_thread is defined %}
            <table id="stack-trace-table" class="table table-hover">
                <thead>
                    <tr>
                        <th>Module</th>
                        <th>Function</th>
                        <th>File</th>
                    </tr>
                </thead>
                <tbody>
                {% for frame in minidump.stacktrace_json.crashing_thread.frames %}
                    <tr>
                        <td>{{ frame.module }}</td>
                        <td>{{ frame|normalizeFunctionName }}</td>
                        <td>{{ frame.file|normalizeFilename }}{{ frame|normalizeLine }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning">No crashing thread</div>
        {% endif %}

    <h3>Loaded modules</h3>
    <table id="modules-table" class="table table-hover">
        <thead>
            <tr>
                <th>Module</th>
                <th>Version</th>
            </tr>
        </thead>
        <tbody>
        {% for module in minidump.stacktrace_json.modules %}
            <tr>
                <td>{{ module.filename }}</td>
                <td><b>{{ module.version }}</b></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Other threads</h3>
    {% for thread in minidump.stacktrace_json.threads %}
        {% if loop.index - 1 != minidump.stacktrace_json.crash_info.crashing_thread %}
        <h4> Thread #{{ loop.index - 1 }}</h4>
        <table id="thread-#{{ loop.index - 1 }}-table" class="table table-hover">
            <thead>
                <tr>
                    <th>Module</th>
                    <th>Function</th>
                    <th>File</th>
                </tr>
            </thead>
            <tbody>
            {% for frame in thread.frames %}
                <tr>
                    <td>{{ frame.module }}</td>
                    <td>{{ frame|normalizeFunctionName }}</td>
                    <td>{{ frame.file|normalizeFilename }}{{ frame|normalizeLine }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning">No other threads</div>
        {% endif %}
    {% endfor %}

    <h3>Raw JSON</h3>
    <div class="table-responsive">
        <table id="raw-json-table" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Raw JSON</th>
            </tr>
            </thead>
                <tr>
                    <td class="col-stacktrace">
                        <pre class="stacktrace" title="Click to expand/collapse">{{ minidump.stacktrace_json | tojson_pretty }}</pre>
                    </td>
                </tr>
        </table>
    </div>

    <h3>Raw Stack Trace</h3>
    <div class="table-responsive">
        <table id="raw-stacktraces-table" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Raw Stack Trace</th>
            </tr>
            </thead>
                <tr>
                    <td class="col-stacktrace">
                        <pre class="stacktrace" title="Click to expand/collapse">{{ minidump.stacktrace }}</pre>
                    </td>
                </tr>
        </table>
    </div>

    {% block tail %}
        {{ super() }}
        <script>
            $('.stacktrace').click(function () {
                console.log($(this));
                $(this).toggleClass('expanded');
            });
        </script>
    {% endblock %}
{% endblock %}